@import url("topnav.css");

body{
  display: flex;
    font-family: 'gluten', 'alfa slab one';
    margin: 0;
    font-size: large;
    text-indent: 30px;
    background-color:rgb(219, 248, 248);
    
}

.html {
    box-sizing: border-box;
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
    padding: 20px;
    background-color: burlywood;
  }

  
  

  

  @media screen and (max-width: 901px) {
    .column {
      width: 100%;
      display: flex;
    }
  }